<div class="row">
  <div class="col-md-6">
    <div class="panel panel-info panel-custom">
      
      <div class="panel-heading">
        <h3 class="panel-title">{{model.name}}</h3>
      </div>
      
      <div class="panel-body">
        <p class="text-muted">
          Clicking "Poll!" will cause a dialog box to open up in-front of everyone who is viewing your slides.
        </p>
        <button class="center-block btn btn-success btn-lg" {{action "createSurvey"}}>Poll my students!</button>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-info panel-custom">
      <div class="panel-heading">
        Put the following code just before the &lt;body/&gt; tag of your HTML slides.
      </div>
      <div class="panel-body">
        {{zero-clipboard text='hello world!' label="Copy"}}
      </div>
    </div>
  </div>
</div>

<div class="row">
  {{#each survey in sortedSurveys}}
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{format-date survey.timestamp}}
        </div>

        <div class="panel-body">
          {{ember-chart data=survey.chartData type='pie' width=200 height=200 class='center-block'}}
        </div>
      </div>
    </div>
  {{else}}
    <p>No Surveys! Poll to get started.</p>
  {{/each}}
</div>