<p>
	The name of the lesson is <strong>{{model.name}}</strong>
</p>

<p>
	This lesson has {{model.surveys.length}} surveys.
</p>

{{#each survey in model.surveys}}
	{{!-- Lets put a component here! --}}
	{{pie-chart data=survey.chartData}}
	<button {{action "sayYes" survey}}>Yes!</button>
	<button {{action "sayNo" survey}}>No!</button>
{{else}}
	<p>No Surveys! Poll to get started.</p>
{{/each}}

<p>
	<button {{action "createSurvey"}}>Poll!</button>
</p>