<p>
	The name of the lesson is <strong>{{model.name}}</strong>
</p>

<p>
	This lesson has {{model.surveys.length}} surveys.
</p>

{{#each survey in model.surveys}}
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{format-date survey.timestamp}}
      </div>

      <div class="panel-body">
        {{ember-chart data=survey.chartData type='pie' width=200 height=200}}
      </div>
    </div>
  </div>
{{else}}
	<p>No Surveys! Poll to get started.</p>
{{/each}}

<p>
	<button {{action "createSurvey"}}>Poll!</button>
</p>